@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: "poppins";
  color: #fff;
}


/* HOVER HEADER */
.borderBottomAnimation {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.borderBottomAnimation::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width .2s;
}

.borderBottomAnimation:hover::after {
  width: 100%;
  transition: width .2s;
}


/*ICON FOOTER INSTAGRAM*/
.iconInsta:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


/* BG TOM*/
@media screen and (min-width: 768px) {
  .bgTom{
    background-image: url('src/assets/imgTom1.webp');
    background-position: right;
    background-size: 30rem;
    background-repeat:no-repeat;
    background-color: transparent;
  }
}


/*ANIMAÇÃO DISCO */

.animationDisc #vinil1{
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}



/*HOVER CONTENT*/

.hoverContent{
  width: 350px;
  height: 300px;
  display: block;
  position: absolute;
  top: 0;
  z-index: 30;
  transition: all 1s;
}

.hoverContent2{
  width: 350px;
  height: 300px;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 30;
  transition: all 1s;
}

.content{
  visibility: hidden;
  opacity: 0;
}

.hoverContent:hover .content,.hoverContent2:hover .content{
  width: 300px;
  height: 300px;
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  visibility: visible;
  opacity: 1;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.2) 100%);
  transition: opacity 0.4s ease-in;
}


/*MASK HOVER MOBILE*/
@media only screen and (max-width:767px){
  .hoverContentMobile{
    width: 350px;
    height: 300px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 30;
    transition: all 1s;
  }
  
  .hoverContentMobile2{
    width: 350px;
    height: 300px;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 30;
    transition: all 1s;
  }

  .hoverContentMobile .content, .hoverContentMobile2 .content{
    width: 300px;
    height: 300px;
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    visibility: visible;
    opacity: 1;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.2) 100%);
    transition: opacity 0.4s ease-in;
  }
  /*POSITION MAKS MOBILE*/
  #over2.hoverContentMobile{
    top: 18%;
  }

  #over3.hoverContentMobile{
    top: 34.2%;
  }

  #over4.hoverContentMobile2{
    top: 51.2%;
  }

  #over5.hoverContentMobile2{
    top: 68.4%;
  }
}



.lineTitle::after{
  display: block;
  content: '';
  width: 8%;
  height: 1px;
  margin-top: 5px;
  background: #ededed;
  bottom: 0;
  left: 0;
  top: 58px;
}